body {
  margin: 0;
  overflow: hidden;
  user-select: none; /* Prevent text selection */
}
div {
  vertical-align: top;
}

img {
  -webkit-user-drag: none; /* Prevent ghost-dragging */
}

#buildings { /*Sidebar for individual building elements*/
  background-color: brown; 
  width: calc(100%/3); 
  display: inline-block; 
  height: 100vh;
  overflow: auto;
}

.building {
  display: flex;
  background-color: gray;
  font-size: 25px;
  height: 80px;
  border: 3px inset darkgray;
  opacity: .9;
  align-items: center;
  justify-content: center;
}

.building.hovered {
  border-style: outset;
  opacity: 1;
}

#app {
  font-size: 0;
}

@keyframes bounce { /* defines a complex animation (more than just a simple transition from one value to another) */
  30% {transform: scale(0.9)} /* element will be half its usual size BY THE TIME the animation is halfway through */
  50% {transform: scale(1)}
  80% {transform: scale(0.9)}
  100% {transform: scale(1)}
}
