body {
  margin: 0;
  overflow: hidden;
  user-select: none; /* Prevent text selection */
}
div {
  vertical-align: top;
}

img {
  -webkit-user-drag: none; /* Prevent ghost-dragging */
}

#buildings { /*Sidebar for individual building elements*/
  background-color: brown; 
  width: calc(100%/3); 
  display: inline-block; 
  height: 100vh;
  overflow: auto;
}

.frame {
  background-image: url("/testFrame.png");
  background-size: 100% 100%;
}

.picture {
  position: absolute;
  border: 3px solid black;
  width: 68px;
  height: 68px;
  top: 3px;
  left: 3px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 38px;
  width: calc(100% - 77px);
  height: 74px; 
}

.building {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: gray;
  font-size: 20px;
  height: 80px;
  border: 3px inset darkgray;
  opacity: .9;
  align-items: center;
  justify-content: center;
}

.upgradePicture {
  background-image: url("/coin.png");
  background-size: cover;
  width: 55px;
  height: 55px;
}

.upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border: 2px solid gold;
  width: 60px;
  height: 60px;
}

.cost::before {
  content: "";
  position: relative;
  top: 1.5px;
  right: 2px;
  background-image: url("/coin.png");
  background-size: cover;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.building.hovered {
  border-style: outset;
  opacity: 1;
}

.building.canAfford {
  background-color: whitesmoke;
  border: 5px inset gold;
}

#app {
  font-size: 0;
}

@keyframes bounce { /* defines a complex animation (more than just a simple transition from one value to another) */
  30% {transform: scale(0.9)} /* element will be half its usual size BY THE TIME the animation is halfway through */
  50% {transform: scale(1)}
  80% {transform: scale(0.9)}
  100% {transform: scale(1)}
}
